h1 {
  margin: 0;
  padding: 0;
}

.Details {
  max-width: 1140px;
  height: 100vh;
  position: relative;
  background-color: #333;
  margin: 0 auto;
}

.DetailsSubscribe {
  text-align: center;
  color: #fff;
  font-size: 32px;
  padding-top: 15px;
}

.DetailsContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  padding: 15px;
}

.DetailsDescription {
  margin-right: 25px;
  margin-left: 20px;
  color: #fff;
  font-size: 22px;
  text-align: center;
}

.DetailsImage {
  width: calc(100% - 75px);
  padding-left: 40px;
}